{% extends 'parent.html.twig' %}

{% block body %}
    Jeu

    {% for art in articles %}
        <div style="border:1px solid;">
            <p style="font-weight:bold;">Titre de l'article : {{ art.title }} </p>
            <a href="{{ path('article_affichage', {'id': art.id}) }}">
                Lien vers l'article {{ art.id }}
            </a>
            <a href="{{ path('article_delete', {'id': art.id}) }}">
               Supprimer l'article {{ art.id }}
            </a>
        </div>
    {% endfor %}
{% endblock %}